/* HTML5 display-role reset for older browsers */

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* real css from here */

*,
html {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
}

html,
body {
    margin: 0;
    padding: 0;
}

 :root {
    --dark-navy: #020c1b;
    --navy: #0a192f;
    --lightest-navy: #233554;
    --navy-shadow: rgba(2, 12, 27, 0.7);
    --dark-slate: #495670;
    --slate: #8892b0;
    --light-slate: #a8b2d1;
    --lightest-slate: #ccd6f6;
    --white: #e6f1ff;
    --green: #64ffda;
    --green-tint: rgba(100, 255, 218, 0.1);
    --font-sans: "Space Mono", "Calibre", "Inter", "San Francisco", "SF Pro Text", -apple-system, system-ui, sans-serif;
    --font-mono: "Roboto Mono", "SF Mono", "Fira Code", "Fira Mono", monospace;
}

.starting-intro {
    color: var(--green);
    padding: 0 0 20px 5px;
    font-size: 2rem;
}

.title {
    font-size: 4rem;
    color: var(--lightest-slate);
    margin: 0;
}

.intro {
    font-size: 3rem;
    color: var(--light-slate);
    margin: 20px 0;
}

body {
    font-family: var(--font-mono);
    background-color: var(--navy);
}

main {
    margin: 120px 35px;
}

.main_section {
    margin-bottom: 30px;
}

.profile-photo {
    max-width: 500px;
    border-radius: 5px;
}

.about-section {
    display: flex;
}

.about-me {
    align-self: center;
    color: var(--dark-slate);
    background-color: #e6f1ff;
    font-size: 1rem;
    line-height: 22px;
    padding: 50px 20px 70px 20px;
    max-width: 700px;
    border-radius: 0 5px 5px 0;
}

@media screen and (max-width: 768px) {
    .starting-intro {
        font-size: 1rem;
    }
    .title {
        font-size: 2rem;
    }
    .intro {
        font-size: 2rem;
    }
}